.header{
    font-size: 50px;
    color: white;
    padding-right: 300px;
    margin-left: 35%;
}

.header_link{
    font-size: 20px; 
}

.choco{
    margin: 5% 20% 5% 20%
}

.card_style{
    display: grid;
    background-color: #BDB76B;
    color: white;
    grid-template-columns: 30% 10% 50% ;
    padding: 5%;
    font-family: 'Fanwood Text';
    font-size: 18px;
}

.card_img{
    border-radius: 5% ;
    margin-top: 5%;
}

.card_head{
    color: #800000;
    font-size: 25px;
}

.rotate {
    animation: rotation 5s infinite;
    margin-left: 35%;
    padding: 5%;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .rotate_background{
      background-color:#BDB76B;
  }
  

  @media only screen and (max-width: 600px) {
    .header{
        font-size: 35px;
        margin-left: 10%;
        padding-right: 0;
    }
    .header_link{
        font-size: 20px; 
        display: inline-block;
    }
    .choco{
        margin-left: 2%;
        margin-right: 2%;
    }

    .h3_style{
        font-size: 30px;
        margin-left: 15%;
    }

    .card_style{
        display: inline;
    }
    .rotate{
      margin-left:5%;
    }
  }